<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-unstyled">
         <!-- <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li> -->
           <!--  <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a> -->
           <a class="twitter-timeline" data-width="300" data-height="400" data-theme="light" href="https://twitter.com/{{ site.twitter_username }}">Twitter:</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </li>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
       <br>
       <p>Website constructed on <a href="https://startbootstrap.com/template-overviews/stylish-portfolio/">"Stylish portfolio"</a>-template.</p>
      </div>
    </div>
  </div>
</footer>
