<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-50 col-lg-offset-1 text-center">
        <h2>Some animated FOSS4G-processes:</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/5.html">
                <img class="img-portfolio img-responsive" src="img/5.gif">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/6.html">
                <img class="img-portfolio img-responsive" src="img/6.gif">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/7.html">
                <img class="img-portfolio img-responsive" src="img/7.gif">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/8.html">
                <img class="img-portfolio img-responsive" src="img/8.gif">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
