<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-50 col-lg-offset-1 text-center">
        <h2>Outcomes of past and ongoing work:</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/12.html">
                <img class="img-portfolio img-responsive" src="img/12r.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/2.html">
                <img class="img-portfolio img-responsive" src="img/2r.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/9.html">
                <img class="img-portfolio img-responsive" src="img/9r.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/11.html">
                <img class="img-portfolio img-responsive" src="img/11r.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
